.CodeMirror {
  border: 1px solid #222;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.sql-output {
  min-height: 20rem;
  width: 100%;
  background-color: aliceblue;
}

#board {
  width: 100%;
  height: 30rem;
}
